@import "../../../theme/variables";

.mail-card {
	border: 2px solid #f5f7fa;
}

.profile-card {
	padding: 20px;

	h3 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1rem;
		line-height: 1.5;
	}
}

@media screen and (max-width: 640px) {
	.profile-card {
		padding: 10px;

		h3 {
			font-size: 1.2rem;
		}

		p {
			font-size: 0.9rem;
		}
	}
}