@import "../../theme/variables";

.onDesktop {
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.onDesktop:hover {
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.desktop-container {
	height: calc(100% - 40px) !important;
}

.taskbar {
	height: 40px !important;
}

@media screen and (max-width: 640px) {
	.taskbar {
		height: 45px !important;
	}

	.desktop-container {
		height: calc(100% - 45px) !important;
	}
}

@media screen and (max-width: 480px) {
	.taskbar {
		height: 50px !important;
	}

	.desktop-container {
		height: calc(100% - 50px) !important;
	}
}

@media screen and (max-width: 320px) {
	.taskbar {
		height: 52px !important;
	}

	.desktop-container {
		height: calc(100% - 52px) !important;
	}
}